.u-section-1 .u-sheet-1 {
  min-height: 274px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 414px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 200px;
  width: 600px;
  grid-gap: 17px;
  margin: 34px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 575px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-gallery-1 {
    height: 150px;
    width: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-2 .u-gallery-1 {
    height: 600px;
    width: 200px;
    margin-top: 33px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}